.screen {
    font-family: "calibri";
    font-size: 30px;
    display: none;
    width: 735px;
    margin: auto;
}
#GameScreen {
display: block;
}
#StartMenu {
display: block;
}
p {
    text-align: justify;
    position: relative;
    color: white; 
}
button {
    background-color: #3056FF;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
body {
    background-color: black;
    color:white;
    text-align:center;
}
#dress1 {
    display: inline-block;
    background-color: gray;
    height: 25px;
    width: 620px;
}
#hearts{
    display: inline-block;
    background-color: white;
    height: 25px;
    width: 100px;
}
.heart{
    display: inline-block;
    background-image: url("/assets/images/heart.png");
    height: 25px;
    width: 25px;
    border-radius: 10px;
}